:root {
    --background-color-dark: #282828;
    --background-color-light: #fffdfb;
    --text-color-light: #888;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    font-family: Cantarell, Century Gothic, arial;
    background-color: var(--background-color-light);
}
ul {
    list-style: none;
}
hr {
    border-color: #cecece;
    border-top: none;
    margin: 20px;
}
button {
    padding: 0;
}
.left-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    float: left;
    color: white;
    background-color: var(--background-color-dark);
    transition: height 0.5s ease-in;
}
.left-menu ul {
    list-style: inside circle;
}
.left-menu footer {
    min-width: max-content;
}
.side-bar {
    flex-grow: 1;
    flex-shrink: 0;
    width: 15%;
    height: 100%;
    font-weight: bold;
    position: relative;
    padding: 10px;
}
.side-bar li {
    line-height: 1.5em;
}
.side-bar ul {
    padding-left: 15px;
}
.side-bar a {
    text-decoration: none;
    color: #282828;
}
.side-bar .active::before {
    content: "";
    width: 5px;
    height: 1.5em;
    background-color: #d77a17;
    position: absolute;
    lefT: 0px;
}
.side-bar a:hover {
    color: #d77a17;
}
.main-content {
    display: flex;
    height: 100vh;
    flex-grow: 1;
}
.main-content-scroller {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 20px; */
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.presentation-section {
    display: flex;
    min-width: max-content;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.presentation-logo {
    width: 128px;
    height: 128px;
}
.presentation-title {
    font-size: 18px;
}
.presentation-icon-container {
    display: flex;
}
.presentation-icon-container svg {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    fill: white;
    stroke: white;
    cursor: pointer;
    transition: fill ease-out 0.2s;
}
.presentation-icon-github > svg:hover {
    fill: black;
    stroke: black;
}
.presentation-icon-linkedin > svg:hover {
    fill: #0076bd;
    stroke: #0076bd;
}
.presentation-icon-rss > svg:hover {
    fill: #cc5d15;
    stroke: #cc5d15;
}
.presentation-icon-menu > svg:hover {
    fill: #d77a17;
    stroke: #d77a17;
}
.presentation-icon-menu {
    display: none;
}
.presentation-icon-darkmode {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: end;
    margin: 10px;
    margin-left: auto;
    display: none;
}
.main-nav {
    display: flex;
    flex-direction: column;
}
.main-nav li {
    padding: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.main-nav a {
    text-decoration: none;
    color: white;
}
.main-nav a:hover {
    color: #d77a17;
}
.main-section {
    width: 50%;
}
.main-section-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}
.main-section > h1 {
    text-align: center;
}
.article-content img {
    width: 100%;
}
article {
    text-align: justify;
}
article hr {
    margin: 10px 0px;
}
.article-footer {
    padding: 10px;
    text-align: right;
}
.article-published {
    font-size: 0.8em;
    color: rgb(102, 102, 102);
}
.article-preview {
    color: black;
    text-decoration: none;
}
.article-preview h2 {
    margin: 0.5rem 0;
    transition: color ease-in-out 0.2s;
}
.article-preview:hover h2 {
    color: #d77a17;
}
.article-preview-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.article-preview-header > time {
    align-self: end;
    color: var(--text-color-light);
}
.article-preview p {
    text-align: justify;
    text-justify: inter-word;
}
.project-card {
    max-width: 400px;
    padding: 1rem;
}
.project-card > a {
    text-decoration: none;
    color: black;
}
.project-card:hover > h2 {
    color: #d77a17;
}
.project-card > img {
    width: 100%;
}
.arrow-up {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px 30px;
    width: 3rem;
    height: 3rem;
    padding: 0px;
    background-color: var(--background-color-dark);
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.2s;
    animation: arrow-up-hide 0.2s;
}
.arrow-up:hover {
    background-color: #383838;
}
.arrow-up-visible {
    visibility: visible;
    animation: arrow-up-show 0.2s;
}
.footer-mailto {
    color: #d77a17;
    text-decoration: none;
}

.darkmode {
    background-color: #222;
    color: #ccc;
}

.darkmode a {
    color: #ccc;
}

@keyframes arrow-up-show {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes arrow-up-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media only screen and  (min-width: 1200px) {
    .main-section {
        min-width: 700px;
    }
}

@media only screen and  (max-width: 1200px) {
    .left-menu {
        width: min-content;
    }
    .side-bar {
        display: none;
    }
    .main-section {
        width: 80%;
    }
    .arrow-up {
        display: none;
    }
}

@media only screen and (max-width: 768px)  {
    body {
        font-size: 16px;
        flex-direction: column;
        overflow: hidden;
    }
    .left-menu {
        width: 100%;
        max-height: 3rem;
        position: absolute;
        top: 0;
        z-index: 1;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
    .left-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .left-menu > footer {
        display: none;
    }
    .left-menu-open {
        max-height: 100vh;
    }
    .presentation-title {
        display: inline-flex;
        align-self: start;
        margin-left: 0.8rem;
        overflow: hidden;
        transition: height 0.2s, margin 0.2s;
    }
    .presentation-title-visible {
        height: 0;
        margin: 0;
        margin-left: 0.8rem;
    }
    .presentation-section > a {
        display: none;
    }
    .presentation-section {
        padding: 0;
    }
    .presentation-icon-container {
        width: 100%;
    }
    .presentation-icon-container,
    .presentation-icon-container *{
        display: inline-flex;
    }
    .presentation-icon-menu {
        align-self: end;
        justify-content: end;
        flex-direction: row-reverse;
        margin-left: auto;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
    }
    }
    .main-nav {
        flex: 0;
    }
    .main-nav li {
        padding: 1.5rem;
        padding-left: 15px;
    }
    .main-nav li:not(:last-child) {
        border-bottom: 1px solid #636363;
    }
    .main-content {
        margin-top: 3rem;
    }
    .main-content-scroller {
        height: calc(100% - 3rem);
        padding: 0px 20px;
    }
    .main-section {
        width: 100%;
    }
    .main-section ul {
        padding-left: 1rem;
    }
    .article-preview-header {
        flex-direction: column;
        align-items: start;
    }
}